# Crash Course on Python

In [43]:
1 # Integer type number
type(1)

int

In [44]:
1.0 # Floting type number
type(1.0)

float

### Basic Airthmetic with numbers

In [45]:
1+1 # For addition
1+1.0 # Int and Float addition

2.0

In [46]:
1*3 # Multiplication 
3.0 * 2.0 # Multiplication

6.0

In [47]:
1/2 # Division

0.5

In [48]:
2 ** 4 # Exponent

16

In [49]:
4 % 2 # Mod Division
5 % 2

1

#### Variables

In [50]:
# Name should not be started with numbers or special char 
var = 2 # Var is a bag where your data is stored

In [51]:
var

2

In [52]:
var = 4 # The name is variable, so you can change the content of bag on the fly
var

4

In [53]:
x = 1
y = 2
x + y # Addition of value of x and y and you get the output

3

In [54]:
name_of_person = 'Anuj' # To chain together many words use underscore
name_of_person

'Anuj'

#### String and Fomating technique

In [55]:
"I can't go home" # Pay attention to the single quote

"I can't go home"

In [56]:
name = "Amit"
age = 22
print ("My name is {0} and I am {1} year old".format(name, age)) # Best way to format your string with interpolation, notice the order
print ("My name is {myname} and I am {myage} year old".format(myage=age, myname=name)) # Notice the order
print ("My name is %s and I am %d year old" %(name, age)) # Another way to format your string, more of a C like formatting
print (f"My name is {name} and I am {age} year old") # Another way to format string

My name is Amit and I am 22 year old
My name is Amit and I am 22 year old
My name is Amit and I am 22 year old
My name is Amit and I am 22 year old

In [57]:
# Slicing of string 
string = "Python is great programming language"
print (string[0])
print (string[0:10])
print (string[::-1]) # Notice this one string is reversed

P
Python is
egaugnal gnimmargorp taerg si nohtyP

### Lists

In [58]:
# A sequence of elemets seprated by comma (any datatype)
[1,2,3, 'Amit'] # This is how we define list
[1.0, 'string', 1] # Integer, float, string all is well no complains here

[1.0, 'string', 1]

In [59]:
my_list = ['a', 'b', 'c']

In [60]:
my_list.append('d') # This is how we add new element at the end of the list

In [61]:
my_list

['a', 'b', 'c', 'd']

In [62]:
my_list[0]

'a'

In [63]:
my_list[0:3]

['a', 'b', 'c']

In [64]:
my_list.append(['New', 'list']) # Nested list

In [65]:
my_list

['a', 'b', 'c', 'd', ['New', 'list']]

In [66]:
my_list[4]

['New', 'list']

In [67]:
my_list[4][0]

'New'

In [68]:
my_list[4][1]

'list'

### Dictinoary

In [69]:
d = {'key': 'value'} # This is how we define dictinoary, it has a key and value pair

In [70]:
d

{'key': 'value'}

In [71]:
d['key'] # here d[0] will not work as it is a dict not a list

'value'

In [72]:
d = {'k1': [1,2,3]} # Key can be any datatype which is hashable and immutable, whether value can be anything

In [73]:
d['k1'] # output a list

[1, 2, 3]

In [74]:
d['k1'][0]

1

In [75]:
d = {'k1': {'inner': [1,2,3]}} # nested dict with list as a value

In [76]:
d['k1'] # output a dict

{'inner': [1, 2, 3]}

In [77]:
d['k1']['inner'] # output a list

[1, 2, 3]

In [78]:
d['k1']['inner'][0] # first value of list which is present in the nested dictinoary

1

### Boolean

In [79]:
True # As name suggest, Boolean can hold only true and false, Notice the capital T and capital F.

True

In [80]:
False # As name suggest, nothing more to say about it.

False

### Tuple

In [81]:
tpl = (1,2,3) # this is how you can define a tuple, remember tuple is immutable (hence it can be a key to dict)
# List can't be the key of an dict because it is mutable.

In [82]:
tpl # Not this tupple can not be modified or altered with, you can only delete the whole tpl

(1, 2, 3)

In [83]:
# Sclicing
tpl[1:3]

(2, 3)

In [84]:
# Let's try to alter the value of my tuple, which will show us an error as we know tuple is immutable
print ("Value present at first position : %d" %tpl[0])
tpl[0] = 4

Value present at first position : 1

TypeError: 'tuple' object does not support item assignment

In [85]:
# Let's put this tuple as key of the list
d = { tpl : "Value"}
d

{(1, 2, 3): 'Value'}

In [86]:
d[(1,2,3)] # to access value we have provide the whole tpl as key

'Value'

In [93]:
# Set's collection of unique elements
print ({1,2,3,4,4,4}) # Key is not present hence it is set not a dict
set([1,2,3,4,4,4,5,6]) # Another method to define set

{1, 2, 3, 4}

{1, 2, 3, 4, 5, 6}

In [88]:
# Adding new element to the set
s = set(['set',1,2])
s.add(3)

In [92]:
# let's check
print (s)

{1, 2, 3, 'set'}

In [94]:
# Comparision operator
1 > 2

False

In [95]:
1 < 2

True

In [98]:
# Some combination of true an false to get an idea of it
print (True or False)
print (True and False)
print (False and True)
print (False and False)
print (True and True)

True
False
False
False
True

In [101]:
# let's checkout conditional statements
"""if True:
        Then execute this
    else:
        Execute this
"""
def add():
    return 1+2

if 1 < 2:
    print ('yeh you are here')
    
if True:
    print(add())

yeh you are here
3

In [103]:
# For loop, which operate on some sequence
seq = [1,2,3,4]
for item in seq: # item can be renamed with anything like jelly, shop anything you like
    print(item)

1
2
3
4

In [104]:
# While loop
i = 1
while i < 5:
    print('I is: {}'.format(i))
    i = i+1

I is: 1
I is: 2
I is: 3
I is: 4

In [111]:
# An important sequecne function which is range
for x in range(0,5): # It will give you the number one less as it started with 0 hence 0-4 is 5 elements that is the function of range
    print(x)

0
1
2
3
4

In [123]:
# Pay attention something wrired is going to happen
# List Comprihension
x = [i for i in range(0, 10)] # Making list with one line without writting the actual numbers
print(x)
y = [y for y in range(1, 50) if y % 2 == 0] # List of even numbers
print(y)
z = [z**2 for z in range(0,10)]
print(z)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [126]:
# Functions building blocks of every application
def func_name(): # Indentation is requried notice the collon and indentation, whatever is indented is in function
    return True

func_name() # This is how to call the function

True

In [130]:
# Function a bit more complicated
def my_func(name='Test'):
    print ('Hello {}'.format(name))

my_func() # Default value of paramter will be printed out
my_func('Amit') # This time it will be Amit, (Argument)
my_func(name = 'Python') # notice the name = value format, this is called keyword argument

Hello Test
Hello Amit
Hello Python

In [135]:
# An example of more useful function
def cube(num):
    """ 
        ------------------------------------------------------------------------------------
        This is called docstring
        generally it is multilined
        And we should specifiy what function is doing and what will be the output if called
        ------------------------------------------------------------------------------------
        
        Will calculate the cube of function, accpet one argument e.g. cube(4) will result into 64 INT
    """
    return num ** 3


print(cube.__doc__) # This is hwo you can see the docstring of any object (Function, class)
cube(4) # Print out the cube of number

        ------------------------------------------------------------------------------------
        This is called docstring
        generally it is multilined
        And we should specifiy what function is doing and what will be the output if called
        ------------------------------------------------------------------------------------

        Will calculate the cube of function, accpet one argument e.g. cube(4) will result into 64 INT

64

### By Far this is the trickiest part of Python special function map, reduce, filter, lambda function
* Pay attention to every detail do not skip

In [137]:
# Let's start with map function
seq = [1,2,3,4,5]
""" 
    Now let's suppose we want to apply cube function every single element of this seq
    Instead of calling function under a for loop we can laverage the map function
"""

map(cube, seq) # Map is now in the memory as an object

In [139]:
# To execute the Map you can cast it into a list
list(map(cube, seq)) # We can see seq is cubed

[1, 8, 27, 64, 125]

In [141]:
"""
    To make things more fun you don't need to define full function you can use lambda function
    An inline function for small operation like cube function
"""
list(map(lambda x: x **3, seq)) # One line implimentation

[1, 8, 27, 64, 125]

In [143]:
# Now let's try filter, very slimilar to map
""" 
    It will look for the condition specified in the function and will return only who satiafied it
    Rest of the element will be discared
"""
list(filter(lambda x: x%2 == 0, seq)) # Only the even numbers are there

[2, 4]

In [148]:
list(filter(lambda x:x%2==0, range(0,10)))

[0, 2, 4, 6, 8]

In [151]:
# String
s = 'Hello my name is Amit'
s.upper()

'HELLO MY NAME IS AMIT'

In [152]:
s.split() # it automatically split the things by white space

['Hello', 'my', 'name', 'is', 'Amit']

In [154]:
d = {'k1':1, 'k2':2}

In [159]:
'x' in [1,2,3]

False

In [160]:
'x' in ['x', 1, 3]

True

In [162]:
# Let's do some unpacking
l_tpl = [('a','b'), (1,2), ('A','B')]

In [165]:
for (x,y) in l_tpl: # This is how we can unpack a list with tpl 
    print (x)

a
1
A

In [166]:
for (x,y) in l_tpl:
    print (y)

b
2
B